################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiAddressApp/.vs
/MauiAddressApp/MauiAddressApp/obj
/MauiAddressApp/MauiAddressApp.Mobile/obj
/MauiAddressApp8/.vs/MauiAddressApp8
/MauiAddressApp8/MauiAddressApp8.Mobile/obj
/MauiAddressApp8/MauiAddressApp8.Mobile/MauiAddressApp8.Mobile.csproj.user
