################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiAddressApp/.vs
/MauiAddressApp/MauiAddressApp/obj
/MauiAddressApp/MauiAddressApp.Mobile/obj
/MauiAddressApp8/.vs/MauiAddressApp8
/MauiAddressApp8/MauiAddressApp8.Mobile/obj
/MauiAddressApp8/MauiAddressApp8.Mobile/MauiAddressApp8.Mobile.csproj.user
/MauiAddressApp8/MauiAddreessApp8.ClassLibrary/obj
/MauiAddressApp8/.vs/ProjectEvaluation
/MauiAddressApp8/MauiAddreessApp8.ClassLibrary/bin/Debug/net8.0
/MauiAddressApp8/MauiAddressApp8.Mobile/bin/Debug/net8.0-android
/MauiAddressApp8/MauiAddressApp8.ClassLibrary/obj
